@import "tailwindcss";
@tailwind utilities;
@plugin '@tailwindcss/typography';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-forest: oklch(58.35% 0.1686 143.03);
  --color-forest-light: oklch(74.36% 0.1656 143.69);
  --color-forest-dark: oklch(43.47% 0.1419 142.64);
  --color-green-1000: oklch(0.2018 0.0474 152.77);
  --breakpoint-xs: 400px;
  --breakpoint-2md: 900px;
  --spacing-8xl: 1450px;
  --animate-sladeIn: slide-in 1s ease-out forwards;
} 

.grid-custom {
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
.grid-custom-2 {
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
} 

 @keyframes slide-in {
	from {
	  transform: translateY(-10px);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
  }