---
import Button from '@components/Button.astro';
import App from '../layouts/App.astro';
import EggTrigger from '@components/easter-eggs/EggTrigger.astro';
import EggRuinenlust from '@images/eggs/egg-rui.webp';
---

<App title="FFC - Page Not Found">
    <div class="min-h-screen text-white flex items-center justify-center p-8">
      <div class="relative text-center max-w-md">
        <h1 class="text-7xl font-extrabold text-green-500 mb-4">404</h1>
        <p class="text-xl mb-6">Oops! This page doesn't exist.</p>
        <!-- <button
          onclick="history.length > 1 ? history.back() : window.location.href = '/'"
          class="bg-green-700 hover:bg-green-600 text-white font-semibold py-2 px-6 rounded-2xl transition-all duration-200 mb-4 hover:cursor-pointer"
        >
          Go back
        </button> -->
        <Button link="javascript:history.back()" >Go Back</Button>
        <div class="absolute -right-3 top-8">
          <EggTrigger
            eggId="egg-5"
            image={EggRuinenlust}
            alt="Hidden Easter egg"
            ariaLabel="Open Easter egg"
            buttonClass="opacity-75 transition duration-300 hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-green-300"
            imageClass="w-8 rotate-[20deg]"
          />
        </div>
    </div>
  </div>
</App>
