---
import App from '../layouts/App.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<App title="FFC - Forestian Champions League">
  <div class="min-h-svh text-white flex items-center justify-center p-8">
    <div class="text-center max-w-md">
      <h1 class="text-7xl font-extrabold text-green-500 mb-4">Coming soon</h1>
  </div>
</div>
</App>
