---
import { Image } from 'astro:assets';
import FooterImage from '@images/Footer.png';
import Sponsor1 from '@images/sponsors/bersa.png';
import Sponsor2 from '@images/sponsors/ecoking.png';
import Sponsor3 from '@images/sponsors/einsair.png';
import Sponsor4 from '@images/sponsors/einset royal.png';
import Sponsor5 from '@images/sponsors/ESN.png';
import Sponsor6 from '@images/sponsors/frey.png';
import Sponsor7 from '@images/sponsors/northern wings.png';
import Sponsor8 from '@images/sponsors/startex.png';
import Sponsor9 from '@images/sponsors/white island stadium.png';

const sponsors = [
  { src: Sponsor1, alt: 'Bersa', class: 'invert' },
  { src: Sponsor2, alt: 'Ecoking' },
  { src: Sponsor3, alt: 'Einsair', class: 'invert' },
  { src: Sponsor4, alt: 'Einset Royal', class: 'invert' },
  { src: Sponsor5, alt: 'ESN' },
  { src: Sponsor6, alt: 'Frey', class: 'invert' },
  { src: Sponsor7, alt: 'Northern Wings', class: 'invert' },
  { src: Sponsor8, alt: 'Startex', class: 'invert' },
  { src: Sponsor9, alt: 'White Island Stadium', class: 'invert' },
];
---
<footer class="bg-green-950 border-t border-green-600">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="https://www.nationstates.net/page=dispatch/id=2525675" target="_blank" class="flex items-center">
              <Image src={FooterImage} width={800} alt="Forestian Football Confederation"
              quality={1} format="webp"/>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 mb-6">
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Community</h2>
                <ul class="text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="https://www.nationstates.net/region=forest" target="_blank" class="hover:underline">Forest</a>
                    </li>
                    <li class="mb-4">
                      <a href="https://discord.gg/c2Uw6MN" target="_blank" class="hover:underline">Forest Discord Server</a>
                    </li>
                    <li>
                      <a href="https://discord.com/invite/EX4sGhjbgU" target="_blank" class="hover:underline">FFC Discord Server</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Follow us</h2>
                <ul class="text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href="https://www.youtube.com/@Bolbon" target="_blank" class="hover:underline">Youtube</a>
                    </li>
                    <li class="mb-4">
                      <a href="https://www.twitch.tv/bolbon_" target="_blank" class="hover:underline">Twitch</a>
                    </li>
                    <li>
                      <a href="https://kick.com/bolbon" target="_blank" class="hover:underline">Kick</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Support</h2>
                <ul class="text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href="/sponsor" class="hover:underline">Sponsor us (RP)</a>
                    </li>
                    <li class="mb-4">
                      <a href="" class="hover:underline">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 border-t border-green-600">
    <div class="flex justify-center ">
      <p>Sponsors</p>
    </div>
    <div class="grid grid-cols-3 gap-4 sm:gap-5 sm:grid-cols-9 mt-8">
      {sponsors.map((sponsor, i) => (
        <div class="flex justify-center items-center" key={i}>
          <Image
            src={sponsor.src}
            alt={sponsor.alt}
            width={96}
            class={`w-24 ${sponsor.class ?? ''}`}
            loading="lazy"
            format="webp"
            quality={10}
          />
        </div>
      ))}
    </div>
  </div>
</footer>