---
import { Image } from 'astro:assets';
import Hero from './Hero.astro';
import Hero1 from '../assets/images/tournaments/2024/all-goals.png';
import Petrov from '../assets/images/tournaments/2024/petrov-goal.png';
import FC26 from '../assets/images/tournaments/2026/fc2026.png';
import Hero2 from '../assets/images/tournaments/fc-history.png';
import Logo from '../assets/images/logo.png';
import FCL from '../assets/images/tournaments/FCL/FCL banner.png';
import FC24 from '../assets/images/tournaments/2024/logo.png';

const items = [
  {
    src: FCL,
    alt: 'Champions League',
    caption: 'Sign up for the FCL',
    description: 'Join The Forestian Champions League!!! Bring the top teams of your league to the maximum competition in Forest.',
    href: 'https://forms.gle/Qn2d5kFwCg8pndnK9'
  },
  {
    src: Hero1,
    alt: 'Forest Cup 2024',
    caption: 'Forest Cup 2024 Recap All Goals',
    description: 'Revive the Forest Cup Anxious & Kevin 2024 with all the goals from the tournament. Featuring stars like Tarasov, Nysnub, Kazñeisei, Gro and more.',
    href: 'https://www.youtube.com/watch?v=iddBpQbe7ak'
  },
  {
    src: FC26,
    alt: 'Forest Cup 2026',
    caption: 'Apply to host the Forest Cup 2026',
    description: 'Apply to host the next edition of the most exciting national team tournament in Forest.',
    href: 'https://forms.gle/Qn2d5kFwCg8pndnK9'
  },
  {
    src: Hero2,
    alt: 'Forest Cup History',
    caption: 'Forest Cup History',
    description: 'Discover the history of the Forest Cup, from its inception to the latest edition. Explore the teams, players, and unforgettable moments that have shaped this iconic tournament.',
    href: './forest-cup'
  },
];
---

<main class="p-6">
  <div class="w-full">
    <Hero
      heroImage={{ src: Petrov, alt: 'Partido de fútbol' }}
      heroTitle="Welcome to the FFC"
      heroSubtitle="Join the Forest Football Community"
      cta={{ text: 'Join us', href: 'https://forms.gle/Qn2d5kFwCg8pndnK9', noblank: false }}
      items={items}
    />
  </div>

  <div class="max-w-screen-xl mx-auto p-6">
    <p class="text-lg mb-8">
      The FFC is the governing body of football in the Forest region. It organizes events like the Forest Cup and the Forestian Champions League, promoting football and regional unity.
    </p>
  
    <h2 class="text-3xl font-semibold mb-4">Why Join the FFC?</h2>
    <p class="text-lg mb-8">
      Joining is simple and takes just 30 seconds. Participate in stress-free events and watch live matches through our streams on YouTube, Twitch, and Kick!
    </p>
  
    <h2 class="text-3xl font-semibold mb-4">How to Join</h2>
    <p class="text-lg mb-8">
      Fill out the form to register your team for the Forest Cup and other events. Don't miss the chance to be part of this amazing football community!
    </p>
  
    <a href="https://forms.gle/Qn2d5kFwCg8pndnK9" class="text-green-400 hover:underline text-lg font-medium">
      Registration Form
    </a>
  </div>
</main>
