---
import { Image } from 'astro:assets';
import Carousel from '../components/react/Carousel';
import Hero1 from '../assets/images/tournaments/2024/tarasov-goal.png';
import Petrov from '../assets/images/tournaments/2024/petrov-goal.png';
import FC26 from '../assets/images/tournaments/2026/fc2026.png';
import Hero2 from '../assets/images/tournaments/2022/atsvea-champions.png';
import Logo from '../assets/images/logo.png';
import BannerSimple from '../assets/images/FFC Banner simple.png';
import FCL from '../assets/images/tournaments/FCL/FCL banner.png';
import FC24 from '../assets/images/tournaments/2024/logo.png';

---

<main class="p-6">
  <h1 class="text-6xl mb-4 font-bold text-center">Welcome to the FFC</h1>

  <div class="max-w-screen-xl mx-auto">
    <Carousel client:load
      items={[
        {
          src: FCL,
          alt: 'Champions League',
          caption: 'Sign up for the FCL',
          href: 'https://forms.gle/Qn2d5kFwCg8pndnK9'
        },
        {
          src: Petrov,
          alt: 'Forest Cup 2024',
          caption: 'Forest Cup 2024\nRecap All Goals',
          href: 'https://www.youtube.com/watch?v=iddBpQbe7ak'
        },
        {
          src: FC26,
          alt: 'Forest Cup 2026',
          caption: 'Apply to Host the\nForest Cup 2026',
          href: 'https://forms.gle/Qn2d5kFwCg8pndnK9'
        },
        {
          src: Hero2,
          alt: 'Forest Cup 2022',
          caption: 'Forest Cup\nBilsa 2022',
          href: './forest-cup/2022'
        },
        {
          src: BannerSimple,
          alt: 'FFC Logo',
          caption: 'Join the FFC',
          href: 'https://forms.gle/Qn2d5kFwCg8pndnK9'
        },
      ]}
      intervalSec={5}
    />
  </div>

  <div class="max-w-screen-xl mx-auto p-6">
    <p class="text-lg mb-8">
      The FFC is the governing body of football in the Forest region. It organizes events like the Forest Cup and the Forestian Champions League, promoting football and regional unity.
    </p>
  
    <h2 class="text-3xl font-semibold mb-4">Why Join the FFC?</h2>
    <p class="text-lg mb-8">
      Joining is simple and takes just 30 seconds. Participate in stress-free events and watch live matches through our streams on YouTube, Twitch, and Kick!
    </p>
  
    <h2 class="text-3xl font-semibold mb-4">How to Join</h2>
    <p class="text-lg mb-8">
      Fill out the form to register your team for the Forest Cup and other events. Don't miss the chance to be part of this amazing football community!
    </p>
  
    <a href="https://forms.gle/Qn2d5kFwCg8pndnK9" class="text-green-400 hover:underline text-lg font-medium">
      Registration Form
    </a>
  </div>
</main>
