---
const currentPath = Astro.url.pathname;
---
<nav class="bg-green-950 w-full z-20 top-0 start-0 border-b border-green-200 dark:border-green-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://i.ibb.co/Rjf5DpJ/IMG-3057.png" class="h-8" alt="FFC Logo" loading="eager">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white hover:text-green-300">Forestian Football Confederation</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700">
        <li>
          <a href="/" class={`block py-2 px-3 rounded-sm ${currentPath === "/" ? "text-green-600 font-bold" : "text-white hover:text-green-300"}`}>
            Home
          </a>
        </li>
        <li>
          <a href="/forest-cup" class={`block py-2 px-3 rounded-sm ${currentPath === "/forest-cup" ? "text-green-600 font-bold" : "text-white hover:text-green-300"}`}>
            Forest Cup
          </a>
        </li>
        <li>
          <a href="/members" class={`block py-2 px-3 rounded-sm ${currentPath === "/members" ? "text-green-600 font-bold" : "text-white hover:text-green-300"}`}>
            Members
          </a>
        </li>
        <li>
          <a href="https://forms.gle/Qn2d5kFwCg8pndnK9" target="_blank" class={`block py-2 px-3 rounded-sm text-white hover:text-green-300`}>
            Join FFC
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>