---
interface Props {
  size?: string;
  slideIn?: boolean;
  color?: string;
}

const { size = 'text-6xl', slideIn = false, color = '' } = Astro.props;
---
<div class="text-center mb-8">
  <h1 class={`${size} font-bold mb-4 text-center ${slideIn && 'opacity-0 animate-sladeIn'} ${color}`}>
    <slot/>
  </h1>
  <h2 class={`text-lg text-green-300 ${slideIn && 'opacity-0 animate-[slide-in_1s_ease-in-out_forwards_.1s]'}`}>
    <slot name="subtitle"/>
  </h2>
</div>