---
import { Image } from "astro:assets";
import type { ImageMetadata } from 'astro';
import { tournaments } from '../content/tournaments';

const { currentTournament } = Astro.props;

// Importamos las imágenes de los banners de los torneos
// Usamos import.meta.glob para cargar las imágenes de forma dinámica
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/forest-cup/**/*.{jpeg,jpg,png,gif,svg}", ({ eager: true }));
// Convertimos el objeto de imágenes a un formato más fácil de usar (ruta -> ImageMetadata)
// Esto nos permite acceder a las imágenes usando su ruta como clave
const imageMap = Object.fromEntries(
  Object.entries(images).map(([path, module]) => [path, module.default])
);
---

<div class="flex justify-center items-center px-6 bg-white/10 w-full">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    {tournaments.slice().reverse().map((tournament) => {
      const isActive = tournament.route === currentTournament.route;
      console.log(images[tournament.banner].default);
      return (
        <a 
          href={isActive ? "#" : tournament.route} 
          key={tournament.name} 
          class={`bg-gray-300 flex relative overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition-shadow group hover:bg-green-950
            justify-center items-center group ${isActive ? "bg-green-950 cursor-default pointer-events-none" : ""}`}
        >
          <Image 
            src={images[tournament.banner].default} 
            alt={tournament.name} 
            class={`w-auto h-16 object-cover rounded-lg transition-opacity invert group-hover:invert-0 ${isActive ? "invert-0" : ""}`}
            loading="eager"
          />
        </a>
      );
    })}
  </div>
</div>
