---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Chatbot from "@components/Chatbot.tsx";
import "../styles/global.css";

// const ViteWebhook = import.meta.env.VITE_WEBHOOK_URL;

interface AppProps {
  title?: string;
}

const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" />
  <title>{title}</title>
</head>
<body class="bg-gradient-to-br from-green-950 to-green-900 to-80% text-white">
  <Navbar />
    <slot />
    <!-- <Chatbot client:load /> -->
  <Footer />
</body>
<!-- <script type="module">
  import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

	createChat({
		// webhookUrl: 'http://localhost:5678/webhook/6bd366cc-c817-4108-bea4-bc5f8fd6f145/chat'
    // webhookUrl: ViteWebhook
    webhookUrl: 'https://n8n-1-onbo.onrender.com/webhook/a889d2ae-2159-402f-b326-5f61e90f602e/chat',
	});
</script> -->
</html>